@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*@model ApnaGharV2.Models.Agency*@


<div class="border border-secondary mt-5" id="agent-div">
                        <p>SYED BROTHERS (PVT) LTD (AIRPORT ROAD)</p>

                        img here
    <a class="btn border-primary" asp-controller="agency" asp-action="ViewAgency">Agency Profile</a>
        </div>

@*@{
    if(@Model != null)
    {
         
    }
    else
    {
    <h1>Model is null</h1>
        
    }
}*@