@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register Page";
}
@model ApnaGharV2.User

@section NavBar2{
    <partial name="NavBar2" />
}
@section SectionTop{
    @*<div style="position: relative; text-align: center; color: white;">*@
<img src="~/images/hellium2.jpg" asp-append-version="true" class="img-fluid" alt="hellium baloon" style="z-index: -1; margin-top:-30px;">
   @*<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Become a Free Member</div>
</div>*@
}
<div class="container justify-content-center">
    <div class="row">
        <div class="col">
            <p>
                Post your properties on ApnaGahr.com and directly expose them to thousands of potential investors, tenants, buyers, agents & brokers and other interested parties.
                <br><br>
                Save your favourite properties in your members panel to view them later at your convenience.
                <br><br>
                Use ApnaGhar.com's integrated e-mail facility to track your potential buying & rental leads.
                <br><br>
                Set-up property email alerts providing you latest listings of properties instantly as they appear on ApnaGhar.com.
                <br><br>
                Search the exact kind of property you are looking for, including hundreds of developments, residential & commercial properties, homes, villas, apartments, plots, shops, offices, complete buildings & floors, warehouses, factories and labour camps.
            </p>
        </div>
        <div class="col-5 px-5 py-5" style="margin-top: -25%; background-color: whitesmoke;">
            <form asp-controller="account" asp-action="register" method="post">
                @*<div class="mb-3">
                    <button type="button" class="btn btn-primary" style="width: 100%; background-color: #3b5998;">
                        <i class="fa fa-facebook"></i>   CONTINUE WITH FACEBOOK
                    </button>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-light" style="width: 100%;">
                        <i class="fa fa-google"></i>   CONTINUE WITH GOOGLE
                    </button>
                </div>
                <div class="my-2 text-center">
                    OR
                </div>*@

                <div class="form-group mb-3">
                    <p style="color:red; font-weight:bold;">@TempData["duplicate_email"]</p>
                    <input asp-for="Email" class="form-control" placeholder="Email*" >
                    <div asp-validation-for="Email" class="text-danger"></div>
                    <p>This will be your login/username at ApnaGhar.com</p>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="Password" class="form-control" placeholder="Password*" type="password" max="8" min="8">
                    <div asp-validation-for="Password" class="text-danger"></div>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password*" type="password" max="8" min="8">
                    <div asp-validation-for="ConfirmPassword" class="text-danger"></div>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="Name" class="form-control" placeholder="Name" maxlength="50">
                    <div asp-validation-for="Name" class="text-danger"></div>
                </div>

                <div class="form-group mb-3 input-group">
                    <span class="input-group-text">
                        <img src="~/images/pak.png" style="display:inline; height:15px; width:20px;"/>
                        &ensp;+92
                    </span>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="3xxxxxxxxx" maxlength=10>
                    <div asp-validation-for="PhoneNumber" class="text-danger"></div>
                </div>

                <div class="form-group mb-3">
                    <select class="form-select" aria-label="Default select example" 
                    aria-placeholder="Select City*" asp-for="City">
                        <option value="Lahore" selected>Lahore</option>
                        <option value="Karachi">Karachi</option>
                        <option value="Islamabad">Islamabad</option>
                    </select>
                    <div asp-validation-for="City" class="text-danger"></div>
                </div>
                
                <div class="form-group mb-3">
                    <select class="form-select" aria-label="Default select example" 
                    aria-placeholder="Signing up as*" asp-for="Role">
                        <option value="Buyer" selected>Buyer</option>
                        <option value="Seller">Seller</option>
                        <option value="Agent">Agent</option>
                    </select>
                    <div asp-validation-for="Role" class="text-danger"></div>
                </div>

                <div class="form-group mb-3">
                    <input type="checkbox" id="agent?">
                    <label for="agent?"> Are you Agent?</label>
                </div>
               
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Security Code" style="width:60%; display:inline;">
                    @{
                        Random rand=new Random();
                        int r = rand.Next(1000, 9999);
                    }
                    <span class="fw-bold fs-2 ms-3 mt-2" style="color:#3b5998;">@r</span>
                </div>

                <div class="form-group mb-3">
                    <input type="checkbox" id="agreed" checked required>
                    <label for="agreed"> I have read and I agree to the ApnaGhar.com Terms and Conditions</label>
                </div>
                
                <div class="form-group mb-3">
                    <input type="submit" class="btn btn-success" style="width: 100%;" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>

