@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


   <!-- Footer -->

<footer class="text-light" style="background-image: url('../images/footer.jpg'); background-size:cover; height:100%; opacity: 0.95; margin-bottom: -30px;">
    
  <div class="container p-5">

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-4">
          <h3 class="text-bold mb-3">Company</h3>

          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a asp-action="About" asp-controller="Home" class="text-white text-decoration-none">About Us</a>
            </li>
            <li class="mb-2">
              <a asp-action="Contact" asp-controller="Home" class="text-white text-decoration-none">Contact US</a>
            </li>
            <li class="mb-2">
              <a asp-action="HelpSupport" asp-controller="Home" class="text-white text-decoration-none">Help & Support</a>
            </li>
             <li class="mb-2">
              <a asp-action="TermsOfUse" asp-controller="Home" class="text-white text-decoration-none">Terms of Use</a>
            </li>
            <li class="mb-2">
              <a asp-action="Privacy" asp-controller="Home" class="text-white text-decoration-none">Privacy Policy</a>
            </li>
            <li class="mb-2">
              <a asp-action="Team" asp-controller="Home" class="text-white text-decoration-none">Our Team</a>
            </li>
          </ul>
          
        </div>
        <!--Grid column-->

         <!--Grid column-->
         <div class="col-4">
            <h3 class="text-bold mb-3">Head Office</h3>
  
            <ul class="list-unstyled mb-0">
              <li class="mb-3">
                  <i class="fa fa-map-marker"></i>
                <a href="#!" class="text-white text-decoration-none m-2">Ilam Deen Street#1, Itehaad Park, Paracha Colony, Shahdara Town Lahore</a>
              </li>
              <li class="mb-3">
                  <i class="fa fa-phone"></i>
                <a href="#!" class="text-white text-decoration-none m-2">0316-0442336</a>
              </li>
              <li class="mb-3">
                  <i class="fa fa-envelope"></i>
                <a href="#!" class="text-white text-decoration-none m-2">Email Us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-4 text-center">

          <h1 class="text-bold mb-3 fw-bold" style="font-family: Segoe Script;">ApnaGhar.com</h1>
          <img src="~/images/general/hk.png" height="100" width="150px" style="color:white;">
          <h6 class="mt-3 text-white">© 2022 Copyright: ApnaGhar.com</h6>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

 
  <!-- Copyright -->
  <div class=" text-start p-5 m-5 text-white" style="background-color: rgba(0, 0, 0, 0); margin-left: 30px; ">
    <!-- © 2022 Copyright: ApnaGhar.com -->
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


