@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row justify-content-center p-1">
        <label for="type" class="col-2">
             Username: <span style="color: red;">*</span>
        </label>
            <div class="col-5">
              <input type="text" required class="form-control"/>
            </div>
     </div>

     <div class="row justify-content-center p-1">
        <label for="type" class="col-2">
             Password: <span style="color: red;">*</span>
        </label>
            <div class="col-5">
              <input type="password" required class="form-control"/>
            </div>
     </div>
