@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    @section SectionTop{

    }

    @*@model List<String>*@

    <div class="container-fluid mb-5 p-5 justify-content-between" style="background-color: white;">

<img src="~/images/sea4.jpg" asp-append-version="true" class="img-fluid" alt="building sea" style="z-index: -1; margin-top:-30px;">

            <h4 class="fw-bold mb-4 mt-4">Useful Tools</h4>

            <div class="row" id="zameen-tools" style="width:80%; margin:auto;">
                     <div class="col-2">

                <a asp-controller="" asp-action="" class="anchor-zameen-tools" style="text-decoration: none; color: black; display:inline-block;">
                    <img src="~/images/newproj.png" height="100" width="100">
                    <h6 class="fw-bold">New Projects</h6>
                    <p>The best investment opportunities</p>
                </a>
                    </div>

                     <div class="col-2">
                 <a asp-controller="" asp-action="" class="anchor-zameen-tools" style="text-decoration: none; color: black; display:inline-block;">
                    <img src="~/images/calc.png" height="100" width="100">
                    <h6 class="fw-bold">Home Loan Calculator</h6>
                    <p>Find affordable loan packages</p>
                </a>
                    </div>

                     <div class="col-2">
                <a asp-controller="" asp-action="" class="anchor-zameen-tools" style="text-decoration: none; color: black; display:inline-block;">
                    <img src="~/images/guide.png" height="100" width="100">
                    <h6 class="fw-bold">Area Guides</h6>
                    <p>Explore housing societies in Pakistan</p>
                </a>
                    </div>

                     <div class="col-2">
                 <a asp-controller="" asp-action="" class="anchor-zameen-tools" style="text-decoration: none; color: black; display:inline-block;">
                    <img src="~/images/active.png" height="100" width="100">
                    <h6 class="fw-bold">Plot Finder</h6>
                    <p>Find plots in any housing society</p>
                </a>
                    </div>

                     <div class="col-2">
                <a asp-controller="" asp-action="" class="anchor-zameen-tools" style="text-decoration: none; color: black; display:inline-block;">
                    <img src="~/images/unitconvert.png" height="100" width="100">
                    <h6 class="fw-bold">Area Unit Convertor</h6>
                    <p>Convert any area unit instantly</p>
                </a>
                    </div>

                     <div class="col-2">
                <a asp-controller="" asp-action="" class="anchor-zameen-tools" style="text-decoration: none; color: black; display:inline-block;">
                    <img src="~/images/landrecord.png" height="100" width="100">
                    <h6 class="fw-bold">Land Record Pages</h6>
                    <p>Find out ownership details of any property</p>
                </a>
                    </div>
            </div>


            @*new projects*@
            <h4 class="fw-bold mb-4 mt-5">Discover New Projects</h4>
               
             <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" style="width:80%; margin:auto;">
                <div class="carousel-item active">
                    <div class="row row-cols-1 row-cols-md-3 g-4 w-100">
                  
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="~/images/karachi.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">City Comfort</h5>
                        <p class="card-text">Karachi</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="~/images/emiratesmall.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Emirates Mall & Residency</h5>
                        <p class="card-text">Islamabad</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="~/images/zahida.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Zahida Residence and Mall</h5>
                        <p class="card-text">Gadap Town</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="~/images/citadel.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">citadel 7</h5>
                        <p class="card-text">Islamabad</p>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                  
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="~/images/karachi.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">City Comfort</h5>
                        <p class="card-text">Karachi</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="~/images/emiratesmall.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Emirates Mall & Residency</h5>
                        <p class="card-text">Islamabad</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="~/images/zahida.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Zahida Residence and Mall</h5>
                        <p class="card-text">Gadap Town</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="~/images/citadel.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">citadel 7</h5>
                        <p class="card-text">Islamabad</p>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="color:black;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="color:black;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            

            @*titanum agencies*@
            <h4 class="fw-bold mb-4 mt-5">Titanum Agencies</h4>
               
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="color:black;"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" style="color:black;"></button>
              </div>
              <div class="carousel-inner" style="width:80%; margin:auto;">

                <div class="carousel-item active" data-bs-interval="10000">

                    <div class="row">

                        <div class="col-2">
                      <img src="~/images/hafiz.png" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/waiz.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/haram.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/mustafa.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/waiz.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/haram.jpg" class="card-img-top" alt="...">
                        </div>
                  </div>
                    
                  
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row">

                        <div class="col-2">
                      <img src="~/images/hafiz.png" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/waiz.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/haram.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/mustafa.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/waiz.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-2">
                      <img src="~/images/haram.jpg" class="card-img-top" alt="...">
                        </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>

              <div class="mt-5" style="text-align:center; margin-top:20px;">
                    <h5 class="fw-bold">Our Properties (National)</h5>
                    <p class="fw-bold">235690 Properties for Sale &nbsp;&nbsp;&nbsp;&nbsp; 3451 Properties for Rent</p>
                  </div>
            </div>
            
@*popular locations*@
            <h4 class="fw-bold mb-4">Popular Locations</h4>
            <table>
                <th class="fw-bold">Lahore</th>
                <hr />

                <tr>
                    <table class="table border-0 small" style="border:none;">
                <thead>
                    <tr>
                        <th scope="col">Houses</th>
                        <th scope="col">Rents</th>
                        <th scope="col">Commercial</th>
                    </tr>
                </thead>
                <tbody>

                            @foreach(List<String> row in Model)
                            {
                                <partial name="HomePropertyRows" model="row"/>

                            }

                </tbody>
            </table>
                </tr>



                <tr>
                    <th class="fw-bold">Karachi</th>
                    <hr />
                 </tr>
                 <tr>
                    <table class="table border-0 small" style="border:none;">
                <thead>
                    <tr>
                        <th scope="col">Houses</th>
                        <th scope="col">Rents</th>
                        <th scope="col">Commercial</th>
                    </tr>
                </thead>
                <tbody>

                            @foreach(List<String> row in Model)
                            {
                                <partial name="HomePropertyRows" model="row"/>

                            }

                </tbody>
            </table>
                </tr>


                <tr>
                    <th class="fw-bold">Islamabad</th>
                    <hr />
                </tr>
                <tr>
                    <table class="table border-0 small" style="border:none;">
                <thead>
                    <tr>
                        <th scope="col">Houses</th>
                        <th scope="col">Rents</th>
                        <th scope="col">Commercial</th>
                    </tr>
                </thead>
                <tbody>

                            @foreach(List<String> row in Model)
                            {
                                <partial name="HomePropertyRows" model="row"/>

                            }

                </tbody>
            </table>
                </tr>
                </tr>

            </table>
            
            
 </div>

