@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

<!-- upper bar -->
     <div class="col-9">
        <h3>1-Kanal Brand New Modern Design Bungalow With Basement for Sale at Prime Location of DHA Lahore</h3>
        <p>DHA Phase 5, DHA Defence, Lahore, Punjab</p>
    </div>
    <div class="col-3">
        //share icon //favourites icon
    </div>

    <!-- rest below -->
    <div class="row">
        <div class="col-9">
            <div>
                <a class="btn btn-secondary active" href="#agency-overview"></a>
                <a class="btn btn-secondary" href="#agency-properties"></a>
            </div>
            <div id="agency-overview">
                <h1>Overview</h1>
                <h3>Details</h3>
                <table class="table table-striped">
                    <tr>
                        <th scope="row">Properties</th>
                        <td>231</td>
                    </tr>
                    <tr>
                        <th scope="row">Service Areas</th>
                        <td>231</td>
                    </tr>
                    <tr>
                        <th scope="row">Property Types</th>
                        <td>231</td>
                    </tr>
                    <tr>
                        <th scope="row">Properties for</th>
                        <td>231</td>
                    </tr>
                </table>
                <hr>
                <h3>Description</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, ipsa nostrum reprehenderit aliquam aperiam illum, magni optio sed sunt fugiat incidunt neque veniam ipsam, porro consequatur dolorum odio expedita enim.</p>
            </div>
        </div>
        <div class="col-3">
            <div id="enquiry div" class="border border-secondary">
                <h1>PKR 11 Crore</h1>
                <button type="button" class="btn btn-primary text-light">Call</button>
                <form id="enquiry-form">
                    <input class="form-control" placeholder="Name*">
                    <input class="form-control" placeholder="Email*" type="email">
                    <input class="form-control" placeholder="Phone*">
                    <textarea rows="3" class="form-control">I would like to inquire about your property Zameen - ID40406668. Please contact me at your earliest convenience.</textarea>
                    <button type="button" class="btn btn-secondary text-light">Send Email</button>
                </form>
            </div>
            <div id="agency-info-div" class="border border-secondary mt-5">
                <p>SYED BROTHERS (PVT) LTD (AIRPORT ROAD)</p>
                img here
                <button type="button" class="border-primary">Agency Profile</button>
            </div>
        </div>
    </div>
    <!-- agency-properties -->
    <div id="agency-properties" class="row">
        <div class="col-12">Properties by this this Agency</div>
        <div class="col-6">
                       <table class="table table-striped col-6">
                <h3>Propetuies for Sale</h3>
                <thead>
                    <tr>
                        <th scope="col">Property Type</th>
                        <th scope="col">Listings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Homes</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Homes</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-6">
        <table class="table table-striped col-6">
            <h3>Propetuies for Rent</h3>
            <thead>
                <tr>
                    <th scope="col">Property Type</th>
                    <th scope="col">Listings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Homes</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Homes</td>
                    <td>12</td>
                </tr>
            </tbody>            
        </table>
        </div>
    </div>
</div>
