@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "About Us";
}

<!-- main ------------------------------->
        <div class="text-center shadow-lg" style="background-color: #3b5998;">
            <img src="ab1-removebg-preview.png" class="img-fluid " />
      </div>
    <div class="shadow-sm text-light" style="height:1px ;">.</div>

    <div class="container-fluid">
        <!-- row 1 ------------->
        <div class="row bg-light" style="padding: 100px;">
            <div class="col-12 col-xl-7 pe-5">
                    <h1 class="fw-bold" style="color:#3b5998 ;">Who We Are</h1>
                    <hr style="color:#3b5998; height: 10px;" class="w-25 mb-5">
                    <p class="text-wrap">
                        <strong>ApnaGhar.com</strong> is a leading digital advertising property website in Pakistan with the fastest growing property marketplace. We list Residential Commercial properties for Rent, Sale and Real Estate Agents for digital advertisement. Discover the best to find Houses, Apartments, Plots Businesses for Sell and Rent with ApnaGhar.com. Pakistan’s fastest growing Property Portal.
                        <br><br>
                        We has a highly skilled technical team of professionals at work with a strong desire to ensure client satisfaction through excellent service delivery.
                        We have a vibrant and engaging property market which offers a large property inventory accrued by competent property agents and developers from different neighborhoods.
                    </p>
            </div>
            <div class="col-12 col-xl-5 text-center" style=" padding: 30px;">
                    <img src="abt.jpg" class="img-fluid align-middle shadow-lg" id="policy-img" style="border-radius: 50%;"/>
            </div>
        </div>
       
        <!-- row 2 ------------->
        <div class="row" style="padding: 100px;">
            <div class="col-12 col-xl-5 text-center" style="padding: 30px;">
                    <img src="service.png" class="img-fluid bg-light shadow-lg" id="policy-img" style="border-radius: 50%;"/>
            </div>
            <div class="col-12 col-xl-7 ps-5" style="">
                    <h1 class="fw-bold" style="color:#3b5998 ;">What We Do</h1>
                    <hr style="color:#3b5998; height: 10px;" class="w-25 mb-5">
                    <p class="text-wrap">
                        We provide the most comprehensive digital marketing platform for all properties stakeholders: real estate investors, property buyers, sellers, property developers and connect millions of property hunters online.
<br><br>
Be it big or small, residential or commercial, we offer you a responsive platform to cater for your property needs at the most efficient cost while the sellers and buyers get a good reward for their property too.
<br><br>
We connect the buyers with trusted property agents and developers and give you professional guidance throughout every step of the acquisition process to ensure a fair deal where both parties are fully satisfied.                    
</p>
            </div>
        </div>
         <!-- row 3 ------------->
         <div class="row bg-light" style="padding: 100px;">
            <div class="col-12 col-xl-7 pe-5" style="">
                    <h1 class="fw-bold" style="color:#3b5998 ;">Our Mission</h1>
                    <hr style="color:#3b5998; height: 10px;" class="w-25 mb-5">
                    <p class="text-wrap">
                        Our mission is to provide multiple services for immovable assets including Houses, Plots, Agricultural Land, Shops and Shopping Plazas and various other property types.
                        We always provide ground reality to our clients. We use to aid our clients with groundbreaking ideas that are supported by hard facts & hard analytics. Furthermore, we have a healthy and positive workplace environment.
                        <br><br>
                        We try to ensure that we give a clear picture to our clients whether they are local or overseas. We provide assessment & valuations of your properties both online & over the phone.
                    </p>
            </div>
            <div class="col-12 col-xl-5 text-center" style=" padding: 30px;">
                <img src="bgm.jpg" class="img-fluid shadow-lg" id="policy-img" style="border-radius: 50%;"/>
            </div>
        </div>


    </div>


 @section footer{
            <partial name="_Footer" />
        }
