@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--------------------------- main code -------------------------->
    <!-- <div style="background-image: url('co6.jpg'); background-size: 100%; background-repeat: no-repeat;" class="align-middle">
        <div class="">
            <h1 class="text-white" style="padding: 100px;">&nbsp;&nbsp;Get in Touch With Us</h1>
        </div>
    </div> -->
    <div class="text-center shadow-lg" style="">
        <img src="co3-removebg-preview.png" class="img-fluid "/>
        <!-- <img src="co2.jpg" class=" img-fluid" style="height: 200px; width: 200px;"/> -->
  </div>
    <div class="container text-center">
        
        <!-- upper -->
        <div class="row mt-5 mb-5">
            <div class="mb-4 text-start">
                    <h3 style="color: #3b5998;">Always Happy To Answer Your Questions</h3>
                </div>
            <div class="col-lg-7 col-sm-12">
                
                <form>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control p-3" placeholder="Your Name *" aria-label="Name" aria-describedby="addon-wrapping"  required>
                              </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control p-3" placeholder="Your Email *" aria-label="Email" aria-describedby="addon-wrapping" required>
                              </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-phone"></i></span>
                                <input type="text" class="form-control p-3" placeholder="Cell Number *" aria-label="Cell Number" aria-describedby="addon-wrapping" required>
                              </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"><i class="fa fa-check"></i></span>
                                <input type="text" class="form-control p-3" placeholder="Subject *" aria-label="Subject" aria-describedby="addon-wrapping" required>
                              </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                            <div class="col">
                                <textarea rows="5" placeholder="Your Message *" class="form-control p-3" required></textarea>
                              </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col align-self-center">
                            <input type="submit" value="Send" class="btn btn-primary fw-bold fs-5 ps-5 pe-5" style="color:#3b5998; background-color:lightsteelblue;"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 col-sm-12 text-center">
                <img src="coo.png" class="img-fluid"/>
            </div>
        </div>

        <!-- lower cards -->
        <div class="row mt-3 mb-3 p-2 justify-content-between">
            <div class="col-sm-12 col-md-4 border border-1 rounded-3 p-3 shadow">
                <div class="mb-3"><i class="fa fa-globe" style="font-size:48; color:#3b5998;"></i></div>
                <h4>Pakistan Office</h4>
                <p>Ilam Deen Street#1, Itehaad Park, Paracha Colony, Shahdara Town Lahore, Pakistan.</p>
            </div>
            <div class="col-sm-12 col-md-4 border border-1 rounded-3 p-3 shadow">
                <div class="mb-3"><i class="fa fa-headset" style="font-size:48; color:#3b5998;"></i></div>
                <h4>Contact Us</h4>
                <p>Call: <a href="#!" class="text-decoration-none">+92 316 0442336</a> <br>
                Email: <a href="#!" class="text-decoration-none">apnaghar196@gmail.com</a></p>
            </div>
            <div class="col-sm-12 col-md-4 border border-1 rounded-3 p-3 shadow">
                <div class="mb-3"><i class="fa fa-briefcase" style="font-size:48; color:#3b5998;"></i></div>
                <h4>Working Schedule</h4>
                <p>Working days: Mon-Sat <br>
                Time: 9:00 AM-6:00 PM </p>
            </div>
        </div>

        <!-- map -->
        <div id="map" class="mt-5 mb-5 border border-2 rounded-3 p-1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3397.1613169613543!2d74.
          29821401443638!3d31.62943324891473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
          1s0x39191d2da3ec509b%3A0x656463bff2734480!2sIttehad%20Park!5e0!3m2!1sen!2sus!4v1654082166729!5m2!
          1sen!2sus" height="400" style="width:100%;" allowfullscreen loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    
        @section footer{
            <partial name="_Footer" />
        }