@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class='bggry2 brd_crmb ros ltr'><a class='nv_hm_icn l'>&nbsp;</a><a href='https://www.zameen.com/help/index.html' class='font_r_en'>Help Center</a></nav><div class="bmargin help_center_box left ltr">
	<div class="rbox_container2 ros">
		<h1 class="bgg help_heading font_s_en">
			<span class="ploc_icn bgc left"></span>
			Help Center		</h1>
		<div class="hc_container">
		<div class='menu_lhelp'> <a class='minus bgc left' onclick='fold_slide(this,"div_10")'>&nbsp;</a>
				  <a href='https://www.zameen.com/help/Advertisements_10.html' class='link_head txtfont font_s_en'>Advertisements</a></div><div class='box' id='div_10'><span class='arch_bullet bgc left clr'></span><a href='https://www.zameen.com/help/How_to_Advertise_11.html' class='item link_head_sub font_s_en'>How to Advertise</a><br /></div><div class='menu_lhelp'> <a class='minus bgc left' onclick='fold_slide(this,"div_1")'>&nbsp;</a>
				  <a href='https://www.zameen.com/help/My_Zameen__Profolio__1.html' class='link_head txtfont font_s_en'>My Zameen (Profolio)</a></div><div class='box' id='div_1'><span class='arch_bullet bgc left clr'></span><a href='https://www.zameen.com/help/Agency_Staff_7.html' class='item link_head_sub font_s_en'>Agency Staff</a><br /><span class='arch_bullet bgc left clr'></span><a href='https://www.zameen.com/help/Clients___Leads_8.html' class='item link_head_sub font_s_en'>Clients & Leads</a><br /><span class='arch_bullet bgc left clr'></span><a href='https://www.zameen.com/help/Message_Center_3.html' class='item link_head_sub font_s_en'>Message Center</a><br /><span class='arch_bullet bgc left clr'></span><a href='https://www.zameen.com/help/My_Account___Profiles_4.html' class='item link_head_sub font_s_en'>My Account & Profiles</a><br /><span class='arch_bullet bgc left clr'></span><a href='https://www.zameen.com/help/Property_Management_2.html' class='item link_head_sub font_s_en'>Property Management</a><br /><span class='arch_bullet bgc left clr'></span><a href='https://www.zameen.com/help/Stats___Accounts_5.html' class='item link_head_sub font_s_en'>Stats & Accounts</a><br /><span class='arch_bullet bgc left clr'></span><a href='https://www.zameen.com/help/Tools_6.html' class='item link_head_sub font_s_en'>Tools</a><br /></div>		</div>
	</div>
	<br />
				<div align="center">
				<span class="orng_smore send_btn send_btn_orng " id="eml_btn">
					<a href="https://www.zameen.com/contactus.html" class="l contact_now">Contact Us</a>
					<span class='bgc pv_send_mail_icn r'></span>
				</span>
			</div>
				<br /><br />
</div><div class="help_center_contents right">
	<div class="newbox_upper"><h1 class="heading grn font_s_en ltr">Zameen.com Help Center</h1></div>
	<div class='newbox_body ros bmargin '>
		<div class='bc_heading font_s_en'>
				</div>
		<form name="frmSearch" id="frmSearch" method="post" action="https://www.zameen.com/help/index.html" class="rlist_box">
			<input type='text' name='searchBox' id='searchBox' value='' style='width:505px;'  class='rfield l '    />			<span onclick="$(this).closest('form').submit()" class="button_green right font_r_en">Search</span>
		</form>
		<div id="help_search_box">
		<br /><div class='adsHeading ltr txtfont orng font_s'>Popular Questions</div><br /><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_1')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 1. &nbsp;How to advertise on Zameen.com?</a>
							</div><div id="ans_1" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_1')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			Advertising on Zameen is easy, reasonably priced and it works wonders. Five basic listings are free for all users, while you can buy hot listings for a nominal fee. There are other advertising options available such as banner advertising, listing packages, splash ads and details about each option are available at advertising section of the site which can be reached by visiting the advertising page:
<BR>
<a href='http://www.zameen.com/advertise/index.html' class='link_in_answer'><b>Advertise on Zameen.com</b></a>
<BR><br>
If you wish to negotiate a special advertising deal with us then we will be happy to hear from you and help you formulate a customized solution suited to your needs</div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_2')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 2. &nbsp;What payment options are available?</a>
							</div><div id="ans_2" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_2')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			You can make payments by depositing cash, cheque or wire/transfer the funds directly into our bank account.  Wiring instructions and bank account details will be provided at the time of payment.</div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_3')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 3. &nbsp;What do the different control symbols mean?</a>
							</div><div id="ans_3" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_3')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			These control icons are shown (where applicable) in front of all properties.<?=$URL_PATH?> <BR><BR>
<table width="100%" border="0" cellpadding="2" cellpadding="10">
  <tr>
    <td width="10%"> <img src="https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/binocular.gif"></td>
    <td width="90%">This icon shows property details including property
  details, client details or listing owner details.</span></td>
  </tr>
  <tr>
    <td> <img src="https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/edit.gif"></td>
    <td>Click on this
  button if you need to edit the property details.</td>
  </tr>
  <tr>
    <td> <img src="https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/del.gif"></td>
    <td>This is the
  delete icon used to delete a property, clients etc.</td>
  </tr>
  <tr>
    <td> <img src="https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/recycle.gif"></td>
    <td>Click on this
  icon to un-delete or restore a deleted property.</td>
  </tr>
  <tr>
    <td> <img src="https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/hot_icon.gif"></td>
    <td>This icon shows
  that the particular listing has been turned into a hot property.</td>
  </tr>
  <tr>
    <td> <img src="https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/grey_chilli.gif"></td>
    <td>Click
    on this icon when you want to feature that property as a hot property. A single
    credit will be deducted automatically from your quota of hot listings.</span></td>
  </tr>
  <tr>
    <td> <img src="https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/question.gif"></td>
    <td>This icon will
  show you any comments either added by our staff or generated by the system for
  a property listing.</span></td>
  </tr>
  <tr>
    <td> <img src="https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/update_logo.gif"></td>
    <td>Clicking on
  this button will forward the uploaded listings to our staff for approval.</td>
  </tr>
</table>

</table>
</div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_4')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 4. &nbsp;What are users (agency staff)?</a>
							</div><div id="ans_4" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_4')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			As an approved agent on Zameen.com, you can add and manage all of your agency staff, teams, clients and leads effortlessly with the help of various management tools available at your control panel under the “Agency Staff” tab. You can add new users and allocate different rights and privileges to each one of them. These users can log in (as your agency staff) from their different login IDs and perform the tasks assigned by you e.g. contacting clients, managing leads and sales, etc.</div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_5')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 5. &nbsp;What are teams?</a>
							</div><div id="ans_5" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_5')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			Teams are a number of your agency staff working as a group to perform particular tasks assigned by you as the agency owner or team administrator. As an example if you have a total of 10 users listed as your agency staff, you can divide them in two different teams such as sales and rentals team consisting of 5 members each. You can allocate staff to these teams according to their qualifications, experience or credentials, where each of these teams will be responsible for their specific tasks related to listings, follow-ups and inquiries etc on Zameen.com. Remember that a particular staff can be a member of one team at a time and cannot exist simultaneously in multiple teams.</div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_6')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 6. &nbsp;How to change your account and profile details?</a>
							</div><div id="ans_6" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_6')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			You can make changes to your account details by visiting the “My Account & Profiles” section. You are allowed to change your password, profile, user roles (you would need to contact us if you had registered on Zameen as an agent or developer and want to change this role) and agent profile (for the members registered as agents).<BR><BR> 

You can also modify and update your profile and contact information in all previous property listings by checking the box “Update details in all property listings”.
</div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_7')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 7. &nbsp;How to add a new user under your agency account?</a>
							</div><div id="ans_7" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_7')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			To add a new user, go to the “Agency Staff” section and select “Add new user” from the side menu. Fill out the necessary details and press the “Create User” button. A new user will be added into your agency staff list.</div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_8')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 8. &nbsp;What are top performers stats?</a>
							</div><div id="ans_8" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_8')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			By visiting the “Top Performer Stats” section within the “Stats & Accounts” tab you can draw a handy comparison between yourself and the top performing member at Zameen. Comparison reports can be generated for different time periods by using the date range feature.<BR><BR> 

Various statistics are compared with the top performer including the following:  total number of listings, total listing views, total e-mail inquiries received and total contact detail views. If you have an active agency profile then your agency profile views and e-mail inquiries received from the agency profile page are also compared with the top performing agency. These comparisons can help you to understand how other members and agencies are benefiting from Zameen and whether or not you need to put in more efforts to maximize the true potential of Zameen.<BR><BR>

<font class='helpSelected'>Note:</font> A star (<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/asteriskred.gif'>) next to any detail indicates that you are the best performer in that particular category 
</div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_9')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 9. &nbsp;What is a lead?</a>
							</div><div id="ans_9" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_9')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			A lead (also known as sales/rental-lead) is a message or inquiry received from a potential customer that may help you to covert that person (or business) into a sales’ prospect and eventually generate sales. In short a lead is the first step towards making actual sales. At Zameen you will be getting a steady stream of inquiries via phone and e-mails (sent by those who are interested in buying or renting the properties you’ve listed at Zameen), you can save these inquiries as leads and work on them to lure these potential customers into buying or renting from you. </div><div class='help_subheading ltr'><a class='txtfont font_s_en'  href="javascript:slide_toggle('ans_10')">
							<img class='q_img' src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/q.jpg' style='vertical-align:middle' />&nbsp; 10. &nbsp;What is a client?</a>
							</div><div id="ans_10" class='ans_cls txtfont ltr bggry5' style='display:none;'>
			<div class='topdiv' >
			<img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/a.jpg' style='vertical-align:middle' />
				<span id='help_span' class='right' >
					<a href="javascript:slide_toggle('ans_10')"><img src='https://35032beae2695ca54eb4-e70e51a7e06dfa1ec801031c9e0043e8.ssl.cf1.rackcdn.com/common/cross.gif' /></a>
				</span>
			</div>
			Clients are your customers or people interested in your property and in general are of two types. The first type is one who has already dealt with you in the past i.e. an existing customer and the second type is a person who can be a potential customer and has contacted you via your listing at Zameen. </div>		</div>
		<br />
	</div>
</div>
<div class='social_links_left bggry1'>
	<a class='scl_close' onclick='sclbar_close()'></a>
    	
   <script>
   function fbs_click() 
	{
		u=location.href;t=document.title;
		window.open('https://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');
		return false;
	}
   </script>
   <!-- Your share button code -->
   <a title="Share on Facebook" onclick="return fbs_click()" href="https://www.facebook.com/share.php?u=https://www.zameen.com/help/index.html" class='bgc fb_left' target='_blank'></a>
   <a title="Share on Twitter" href="https://twitter.com/home?status=https://www.zameen.com/help/index.html" class='bgc tw_left' target='_blank'></a>
	<a title="Share on Google+" href="https://plus.google.com/share?url=https://www.zameen.com/help/index.html" class='bgc gp_left' target="_blank"></a>
   <a title="Share on Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.zameen.com/help/index.html"  class='bgc lnkd_left' target="_blank"></a>
	<span   onclick="load_mtfb(this,'main');" class='bgc email_left'></span>
</div>
			<script type="text/javascript" src="https://e8332749d289627f6c6d-dc9cc161ca89aa4b4e2c8646ee3bd3b6.ssl.cf1.rackcdn.com/common5_19.js"></script>
		<script type='text/javascript'>logged_in = 0; session_in = 1; </script>	</div>
</div>
	</div></div>
