@{
    ViewData["Title"] = "Home Page";
}


    @model string

<div class="container">
        <div class="w-100 img-fluid mb-5" style="background-image: url('../images/general/h15.jpg'); background-size: cover; height: 700px; position: absolute; top:0px; left:0px;">
        <div class="rounded p-4 ps-5 pe-5 shadow justify-content-center text-center bg-dark" style="opacity: 0.8; position: relative; top:50%; margin: 0 10% 0 10%;">
           <form asp-controller="Property" asp-action="FilterProperties" method="post">
                <div class="row">
                    <div class="col-4 col-lg-4">
                        <select class="form-select mt-2">
                            <option selected value="City" disabled name="city">City</option>
                            <option value="Lahore">Lahore</option>
                            <option value="Karachi">Karachi</option>
                            <option value="Islamabad">Islamabad</option>
                          </select>
                    </div>
                    <div class="col-4 col-lg-3">
                        <select class="form-select mt-2">
                            <option selected value="Purpose" disabled name="purpose">Purpose</option>
                            <option value="Sale">Sale</option>
                            <option value="Rent">Rent</option>
                          </select>
                    </div>
                    <div class="col-4 col-lg-3">
                        <select class="form-select mt-2">
                            <option selected value="Category" disabled name="type">Category</option>
                            <option value="Home">Home</option>
                            <option value="Plot">Plot</option>
                            <option value="Commercial">Commercial</option>
                          </select>
                    </div>
                    <div class="col-12 col-lg-2 justify-content-center">
                        <button type="submit" class="fw-bold btn text-white w-100 mt-2" style="background-color:#3b5998 ;">
                            SEARCH
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        <!-- mission -->
        <div class="row mt-5" style="margin-top: 300px;">
            <div class="col m-2">
                <h6 class="fw-bold">OUR MISSION</h6>
                <h1 class="fw-bold" style="color:#3b5998;">To be the most trusted name in real estate.</h1>
            </div>
            <div class="col mt-5">
                We continuously strive to provide only the best investments. Today, better than yesterday. Tomorrow, better than today. We are consultants, marketers, and investment advisors working in select societies all across the country to give you the edge.
            </div>
        </div>
        <!-- 4 things -->
        <div class="row mt-5 text-center" style="">
            <div class="col shadow p-5 rounded m-1">
                <i class="fa fa-home" style="color: #3b5998; font-size: 72px;"></i>
                <h4 class="fw-bold m-2">Profesaional Consultancy</h4>
            </div>
            <div class="col shadow p-5 rounded m-1">
                <i class="fa fa-graduation-cap" style="color: #3b5998; font-size: 72px;"></i>
                <h4 class="fw-bold m-2">Quality Services</h4>
            </div>
            <!-- <div class="col shadow p-5 rounded m-1">
                <i class="fa fa-lock" style="color: #3b5998; font-size: 72px;"></i>
                <h4 class="fw-bold m-2">Commitment</h4>
            </div>
            <div class="col shadow p-5 rounded m-1">
                <i class="fa fa-thumbs-up" style="color: #3b5998; font-size: 72px;"></i>
                <h4 class="fw-bold m-2">Integrity</h4>
            </div> -->
        </div>
        <!-- mission -->
        <div class="row mt-5" style="margin-top: 300px;">


            <div class="col m-2 mt-5">
           <h6 class="">@Model</h6>

                <!-- <h4 class="fw-bold">OUR MISSION</h4> -->
                <h1 class="fw-bold pt-5" style="color:#3b5998;">To be the most trusted name in real estate.</h1>
            </div>
            <div class="col pt-5 mt-5" style="">
                We continuously strive to provide only the best investments. Today, better than yesterday. Tomorrow, better than today. We are consultants, marketers, and investment advisors working in select societies all across the country to give you the edge.
            </div>
        </div>
        <!-- 4 things -->
        <div class="row mt-5 text-center">
            <div class="col shadow p-5 rounded m-1">
                <i class="fa fa-home " style=" font-size: 72px;"></i>
                <h4 class="fw-bold m-2">Profesaional Consultancy</h4>
            </div>
            <div class="col shadow p-5 rounded m-1">
                <i class="fa fa-graduation-cap" style=" font-size: 72px;"></i>
                <h4 class="fw-bold m-2">Quality Services</h4>
            </div>
            <div class="col shadow p-5 rounded m-1 ">
                <i class="fa fa-lock" style="font-size: 72px;"></i>
                <h4 class="fw-bold m-2">Commitment</h4>
            </div>
            <div class="col shadow p-5 rounded m-1 ">
                <i class="fa fa-thumbs-up" style=" font-size: 72px;"></i>
                <h4 class="fw-bold m-2">Integrity</h4>
            </div>
        </div>
        <!-- recent listings -->
        <div class="text-center mt-5">
            <h2 class="text-start fw-bold">Recent Listings</h2>
             <div id="home-vc-pdiv">
                            <vc:properties-component ></vc:properties-component>
                        </div> 
            <button class="btn btn-success w-25 fs-5 fw-bold p-2">View All Properties</button>
        </div>
         
        <!-- info div -->
        <div class="row p-5 bg-dark mt-5 text-white" style="background-image: url('h6.jpg'); background-size: cover;">
            <div class="col p-5 m-2" style="background-color: #3b5998; ">
                <!-- <h1><i class="fa fa-home"></i>&nbsp;Search Home</h1> -->
                <h2>
                    <i class="fa fa-search" style="font-size:48px ;"></i><br>
                    Looking for a new home?
                </h2>
            </div>
            <div class="col p-5 m-2" style="background-color: #3b5998;">
                <h1>Confused?</h1>
                <h3><i class="fa fa-phone"></i>&nbsp;Ask Your Questions here</h3>
            </div>
        </div>
        <!-- buy trusted div -->
        <div class="row text-center p-3 mt-5 mb-5 rounded shadow-lg justify-content-center " style="background-color: rgba(0, 0, 0, 0.26) ">
            <div class="col">
                <img src="kh2-removebg-preview.png" class="img-fluid float-start" height="300" width="400"/>
            </div>
            <div class="col">
                <h1 class="fw-bold mt-5">
                    Buy Trusted and Verified <br>
                    <span style="color:#3b5998; font-size: 60px;" >
                        Properties
                    <i class="fa fa-check-circle-o rounded-circle fs-1" style=""></i>
                    </span>
                </h1>
            </div>
            </div>
        </div>
    
        @section footer{
            <partial name="_Footer" />
        }
