@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- body code ------------------->
    <div class="text-center shadow-lg" style="background-color:#3b5998;">
        <img src="p5n.png" class="img-fluid" style="height:300px;"/>
      </div>

    <div class="contaianer m-5">
    <!-- row 1 ------------------->
        <div class="row">
            <div class="col-sm-12 col-xl-6">
                <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; position:relative; top:30px; left:60px; background-color: white;">
                    <i class="fa fa-circle-check" style="font-size: 48px; color: #3b5998;"></i>
                </div>
                <div style="overflow:auto; border-radius: 20px;" class="ps-4 pt-5 border border-1 shadow">
                    <img class="ïmg-fluid ms-4 float-end" src="p1.jpg" height="200px" width="250px" />
                    <h5 class="fw-bold">Who We Share Your Personal Information With</h5>
                    <p>
                        Your personal information (which includes your name, address and any other details you provide to us which concern you as an individual) may be processed both by us.<br><br>
We may also share your information with: (i) third parties we use to...
                    </p>
                    <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#modal1" aria-expanded="true" aria-controls="collapseOne" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold">
                        Collapsible Group Item #1
                      </button> -->
                    <a data-bs-toggle="modal" data-bs-target="#one" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold mb-3">
                        See More
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; position:relative; top:30px; left:60px; background-color: white;">
                    <i class="fa fa-rotate" style="font-size: 48px; color: #3b5998;"></i>
                </div>
                <div style="overflow:auto; border-radius: 20px;" class="ps-4 pt-5 border border-1 shadow">
                    <img class="ïmg-fluid ms-4 float-end" src="p8.webp" height="200px" width="250px"/>
                    <h5 class="fw-bold">Purpose Of Processing</h5>
                    <p>
                        Your information will allow us to provide you with access to the particular parts of the Platform relevant to you and allow us to supply the Services you require.<br><br>
We will use your information for the purpose of informing you of special offers and providing other marketing information to you...
                    </p>
                    <a data-bs-toggle="modal" data-bs-target="#two" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold mb-3">
                        See More
                    </a>
                </div>
            </div>
        </div>

    <!-- row 2 ------------------->
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; position:relative; top:30px; left:60px; background-color: white;">
                <i class="fa fa-circle-info" style="font-size: 48px; color: #3b5998;"></i>
            </div>
            <div style="overflow:auto; border-radius: 20px;" class="ps-4 pt-5 border border-1 shadow">
                <img class="ïmg-fluid ms-4 float-end" src="p3.jpg" height="200px" width="250px"/>
                <h5 class="fw-bold">Disclosure Of Information</h5>
                <p>
                    In the unlikely event that a liquidator, administrator or receiver is appointed over us or all or any part of our assets that insolvency practitioner may transfer your information to a third-party purchaser of the business provided that purchaser undertakes to use your information for the same purposes as set out...
                </p>
                    <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#modal1" aria-expanded="true" aria-controls="collapseOne" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold">
                    Collapsible Group Item #1
                  </button> -->
                <a data-bs-toggle="modal" data-bs-target="#three" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold mb-3">
                    See More
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; position:relative; top:30px; left:60px; background-color: white;">
                <i class="fa fa-lock" style="font-size: 48px; color: #3b5998;"></i>
            </div>
            <div style="overflow:auto; border-radius: 20px;" class="ps-4 pt-5 border border-1 shadow">
                <img class="ïmg-fluid ms-4 float-end" src="dac.jpg" height="200px" width="250px"/>
                <h5 class="fw-bold">The Data We Collect About You</h5>
                <p>
                    When you visit the Website or the Application or create a login in and password to access the Services, you may be asked to provide information about yourself. This may include: (i) your name and contact details, including email address and telephone number; (ii) information to enable us to…
                     </p>
                <a data-bs-toggle="modal" data-bs-target="#four" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold mb-3">
                    See More
                </a>
            </div>
        </div>
    </div>

    <!-- row 3 ------------------->
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; position:relative; top:30px; left:60px; background-color: white;">
                <i class="fa fa-cookie-bite" style="font-size: 48px; color: #3b5998;"></i>
            </div>
            <div style="overflow:auto; border-radius: 20px;" class="ps-4 pt-5 border border-1 shadow">
                <img class="ïmg-fluid ms-4 float-end" src="cook.png" height="200px" width="200px"/>
                <h5 class="fw-bold">Cookies</h5>
                <p>
                    We may send a small file to your computer or device when you visit our Website (a cookie). This will enable us to identify your computer, track your behaviour on our Website and to identify your particular areas of interest so as to personalise and enhance your experience on this Website. We may use cookies to...
                </p>
                <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#modal1" aria-expanded="true" aria-controls="collapseOne" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold">
                    Collapsible Group Item #1
                  </button> -->
                <a data-bs-toggle="modal" data-bs-target="#five" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold mb-3">
                    See More
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; position:relative; top:30px; left:60px; background-color: white;">
                <i class="fa fa-circle-xmark" style="font-size: 48px; color: #3b5998;"></i>
            </div>
            <div style="overflow:auto; border-radius: 20px;" class="ps-4 pt-5 border border-1 shadow">
                <img class="ïmg-fluid ms-4 float-end" src="delet.jpg" height="200px" width="250px"/>
                <h5 class="fw-bold">Data Deletion Request</h5>
                <p>
                    You may request that we delete your personal data by emailing us at <a style="text-decoration: none;" href="mailto:apnaghar196@gmail.com">apnaghar.com</a>. We will endeavour to comply with such deletion requests but in certain circumstances we will be unable to delete your personal data as we may be required to retain it for legal,...
                     </p>
                <a data-bs-toggle="modal" data-bs-target="#six" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold mb-3">
                    See More
                </a>
            </div>
        </div>
    </div>

    <!-- row 4 ------------------->
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; position:relative; top:30px; left:60px; background-color: white;">
                <i class="fa fa-shield-halved" style="font-size: 48px; color: #3b5998;"></i>
            </div>
            <div style="overflow:auto; border-radius: 20px;" class="ps-4 pt-5 border border-1 shadow">
              <!-- <div style="overflow: hidden; display: inline;"> -->
                <img class="ïmg-fluid ms-4 float-end" src="p9.png" height="200px" width="250px"/>
              <!-- </div> -->
                <h5 class="fw-bold">Security Measures</h5>
                <p>
                    We have implemented security policies, rules and technical measures to protect the personal data that we have under our control from unauthorised access, improper use and disclosure, unauthorised destruction or accidental loss.
                </p>
                <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#modal1" aria-expanded="true" aria-controls="collapseOne" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold">
                    Collapsible Group Item #1
                  </button> -->
                <a data-bs-toggle="modal" data-bs-target="#seven" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold mb-3">
                    See More
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; position:relative; top:30px; left:60px; background-color: white;">
                <i class="fa fa-clock-rotate-left" style="font-size: 48px; color: #3b5998;"></i>
            </div>
            <div style="overflow:auto; border-radius: 20px;" class="ps-4 pt-5 border border-1 shadow">
                <img class="ïmg-fluid ms-4 float-end" src="p10.png" height="200px" width="250px"/>
                <h5 class="fw-bold">Updates To Policy</h5>
                <p>
                    We reserve the right to vary this policy from time to time. Our updated policy will be displayed on the Website, and by continuing to use and access the Platform, following such changes, you agree to be bound by any variation made by us.
                     </p>
                <a data-bs-toggle="modal" data-bs-target="#eight" style="color:#3b5998; display:block; cursor:pointer; text-decoration:none;" class="fw-bold mb-3">
                    See More
                </a>
            </div>
        </div>
    </div>

</div>

    
                        
                  


    <!-- modal 1 ---------------------------------------->
    <div class="modal fade" id="one" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
                <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; background-color: white;">
                    <i class="fa fa-circle-check" style="font-size: 48px; color: #3b5998;"></i>
                </div>
                <h3 class="fw-bold ms-4">Who We Share Your Personal Information With</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Your personal information (which includes your name, address and any other details you provide to us which concern you as an individual) may be processed both by us..
<br><br>
We may also share your information with: (i) third parties we use to help deliver our products and services to you (for example, payment service providers); (ii) other third parties we use to help us run our business (for example, marketing agencies or website hosts); and (iii) third parties approved by you (for example, social media sites you choose to link your account to or third-party payment providers).
<br><br>
We require all third parties to respect the security of your personal data and to treat it in accordance with Applicable Laws.
<br><br>
We may use or share the information that you provide to us if we are under a duty to disclose or share your information in order to comply with any legal obligation or in order to enforce any obligation against you or to protect our rights and those of our affiliates.
<br><br>
We may also need to share some personal information with our affiliates, subsidiaries and third parties (such as real estate agents that use the Website) or during a re-structuring of our business. Usually, personal information will be anonymised but this may not always be possible.
                </p>
            </div>
            <!-- <div class="modal-footer">
            </div> -->
          </div>
        </div>
      </div>
    <!-- modal 2 ---------------------------------------->

    <div class="modal fade" id="two" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
                <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; background-color: white;">
                    <i class="fa fa-rotate" style="font-size: 48px; color: #3b5998;"></i>
                </div>
                <h3 class="fw-bold ms-4">Purpose Of Processing</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Your information will allow us to provide you with access to the particular parts of the Platform relevant to you and allow us to supply the Services you require.
<br><br>
We will use your information for the purpose of informing you of special offers and providing other marketing information to you which we think you may find of interest, undertaking services or customer research/development.
<br><br>
Your information may be used by us to contact you for your opinions on the Platform, the Services and our business, and to notify you of changes or developments to the Platform, the Services and our business.
</p>
            </div>
            <!-- <div class="modal-footer">
            </div> -->
          </div>
        </div>
      </div>
      <!-- modal 3 ---------------------------------------->

    <div class="modal fade" id="three" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
                <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; background-color: white;">
                    <i class="fa fa-circle-info" style="font-size: 48px; color: #3b5998;"></i>
                </div>
                <h3 class="fw-bold ms-4">Disclosure Of Information</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    In the unlikely event that a liquidator, administrator or receiver is appointed over us or all or any part of our assets that insolvency practitioner may transfer your information to a third-party purchaser of the business provided that purchaser undertakes to use your information for the same purposes as set out in this policy. We undertake not to provide your personal information to third parties save in accordance with this policy.
<br><br>
Your information will not be disclosed to government or local authorities or other government institutions save as required by law or other binding regulations.
                </p>
            </div>
            <!-- <div class="modal-footer">
            </div> -->
          </div>
        </div>
      </div>
       <!-- modal 4 ---------------------------------------->

    <div class="modal fade" id="four" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
                <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; background-color: white;">
                    <i class="fa fa-lock" style="font-size: 48px; color: #3b5998;"></i>
                </div>
                <h3 class="fw-bold ms-4">The Data We Collect About You</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    When you visit the Website or the Application or create a login in and password to access the Services, you may be asked to provide information about yourself. This may include: (i) your name and contact details, including email address and telephone number; (ii) information to enable us to check and verify your identity; (iii) location data; (iv) your billing information, transaction and payment information and history; and (v) such other information as we may from time to time require to provide the Services and comply with Applicable Laws. You agree and, where required, consent to the collection of information about your usage of the Platform and the Services and information from messages and communications you send to us.
<br><br>
This information is required to provide the Services to you. If you do not provide such information, it may delay or prevent us from providing the Services.
<br><br>
This privacy policy will also apply when accessing the Platform and/or the Services from mobile technology (such as mobile phones, tablets or other devices). Unless you have chosen to remain anonymous through your device and/or platform settings, this information may be collected and used by us automatically if you use the Services and access the Platform from mobile technology.
<br><br>
Calls and text messages between you and ApnaGhar, or between you and third parties made through ApnaGhar (such as real estate agents you contact about a property through a form or link on our Website, or using contact information found on our Website), may be recorded or monitored for quality assurance and customer service purposes.
                   </p>
            </div>
            <!-- <div class="modal-footer">
            </div> -->
          </div>
        </div>
      </div>
      <!-- modal 5 ---------------------------------------->

    <div class="modal fade" id="five" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
                <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; background-color: white;">
                    <i class="fa fa-cookie-bite" style="font-size: 48px; color: #3b5998;"></i>
                </div>
                <h3 class="fw-bold ms-4">Cookies</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    We may send a small file to your computer or device when you visit our Website (a "cookie"). This will enable us to identify your computer, track your behaviour on our Website and to identify your particular areas of interest so as to personalise and enhance your experience on this Website. We may use cookies to collect and store personal data and we link information stored by cookies with personal data you supply to us. You can set your browser to reject cookies but this may preclude your use of certain parts of the Platform.
<br><br>
If you participate in or enquire about any lead, referral or similar service we may offer, we may use the information you submit, as well as other data we might have or obtain ourselves or from other sources, to determine which of our participating Professional(s) may be willing, able and/or compatible to serve your needs or possible interests and to assist them or others in doing so. We may forward or share information relating to you, which may include such information as well as personal information obtained through our sign-up form or otherwise, to certain Professional(s). Those Professionals or their affiliates, contractors, advertisers, agents or other designees may use such information and contact you regarding your needs or possible interests, as may we ourselves. “Professional(s)” means individuals, companies and other organizations or persons acting as real estate professionals or otherwise engaged in a business relevant to the Website.
                   </p>
            </div>
            <!-- <div class="modal-footer">
            </div> -->
          </div>
        </div>
      </div>
      <!-- modal 6 ---------------------------------------->

    <div class="modal fade" id="six" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
                <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; background-color: white;">
                    <i class="fa fa-circle-xmark" style="font-size: 48px; color: #3b5998;"></i>
                </div>
                <h3 class="fw-bold ms-4">Data Deletion Request</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    You may request that we delete your personal data by emailing us at contactus@ApnaGhar.com . We will endeavour to comply with such deletion requests but in certain circumstances we will be unable to delete your personal data as we may be required to retain it for legal, regulatory and/or compliance reasons (and we may not be able to communicate why we cannot delete such data due to confidentiality obligations that we may be under). We may ask for proof of your identity before deleting any information and reserve the right to refuse to delete information if your identity is not established. We reserve the right to charge a fee in respect of any deletion request.
                    </p>
            </div>
            <!-- <div class="modal-footer">
            </div> -->
          </div>
        </div>
      </div>
<!-- modal 7 ---------------------------------------->

<div class="modal fade" id="seven" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
            <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; background-color: white;">
                <i class="fa fa-shield-halved" style="font-size: 48px; color: #3b5998;"></i>
            </div>
            <h3 class="fw-bold ms-4">Security Measures</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
                We have implemented security policies, rules and technical measures to protect the personal data that we have under our control from unauthorised access, improper use and disclosure, unauthorised destruction or accidental loss.
<br><br>
We also have procedures in place to deal with any suspected data breach. We will notify you and any applicable regulator or authority of a suspected data security breach where we are legally required to do so.
<br><br>
You are solely responsible for keeping your password and other account details confidential. If you have concerns about your password, account details, or are suspicious about any unauthorised use of your account, you should change your login details immediately.
                </p>
        </div>
        <!-- <div class="modal-footer">
        </div> -->
      </div>
    </div>
  </div>
  <!-- modal 8 ---------------------------------------->

<div class="modal fade" id="eight" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
            <div class="border border-1 rounded-circle shadow p-3" style="height: 80px; width: 80px; background-color: white;">
                <i class="fa fa-clock-rotate-left" style="font-size: 48px; color: #3b5998;"></i>
            </div>
            <h3 class="fw-bold ms-4">Updates To Policy</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
                We reserve the right to vary this policy from time to time. Our updated policy will be displayed on the Website, and by continuing to use and access the Platform, following such changes, you agree to be bound by any variation made by us. It is your responsibility to check this policy from time to time to verify such variations.
                </p>
        </div>
        <!-- <div class="modal-footer">
        </div> -->
      </div>
    </div>
  </div>

 @section footer{
            <partial name="_Footer" />
        }

