@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div id="amenities-div">

<h3>Amenities</h3>
                            <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <table class="table">
                                        <tr>
                                            <th scope="row" rowspan="3" class="align-middle text-wrap" style="width: 100px;">Main Features</th>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        <tr>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        <tr>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                    </table>
                                  </tr>
                                  <tr>
                                    <table class="table">
                                        <tr>
                                            <th scope="row" rowspan="3" class="align-middle text-wrap" style="width: 100px;">Rooms</th>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        <tr>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        <tr>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                    </table>
                                  </tr>
                                  <tr>
                                    <table class="table">
                                        <tr>
                                            <th scope="row" rowspan="3" class="align-middle text-wrap" style="width: 100px;">Business and Communication</th>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        <tr>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        <tr>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        </table>
                                  </tr>
                                  <tr>
                                    <table class="table">
                                        <tr>
                                            <th scope="row" rowspan="3" class="align-middle text-wrap" style="width: 100px;">Main Features</th>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        <tr>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                        <tr>
                                            <td>Built in year</td>
                                            <td>Parking Spasces</td>
                                            <td>Double glazed windows</td>
                                        </tr>
                                    </table>
                                  </tr>
                                </tbody>
                              </table>

</div>

