@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ApnaGharV2.Models.ViewModels.Property

@section NavBar2{
    <partial name="NavBar2" />
}

@*---------------------add property page starts----------------------- *@

<div style="background-color:#E7E7E7;">
<div class="container" id="container-addproperty" style="background-color:white;">

<form enctype="multipart/form-data" id="addPropertyForm" novalidate class="needs-validation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <h4 class="fw-bold">Add a Property</h4>
    <span style="color: red;">*</span>
    <span> = Required Fields</span>

    @*portion 1*@
        <div class="add-property-legend">
            PROPERTY TYPE AND LOCATION
        </div>

    <div class="row justify-content-center p-1">
        <label class="col-2">
            Purpose: <span style="color: red;">*</span>
        </label>
        <div class="col-5 btn-group btn-group-toggle" data-toggle="buttons" required>
            <label class="btn btn-light btn-outline-secondary">
                <input type="checkbox" class="purpose" id="sale" value="sale" asp-for="MyPropInfo.Purpose"> For Sale
              </label>
              <label class="btn btn-light btn-outline-secondary">
                <input type="checkbox" class="purpose" id="rent" value="rent" asp-for="MyPropInfo.Purpose"> For Rent
              </label>
        </div>
     </div>

     <div class="row justify-content-center p-1">
        <label for="type" class="col-2">
            Property Type: <span style="color: red;">*</span>
        </label>
            <div class=" col-5 btn-group btn-group-toggle" data-toggle="buttons" required>
              <label class="btn btn-light btn-outline-secondary">
                <input type="checkbox" class="type" id="homes" asp-for="MyPropInfo.Type" value="Homes"> Homes
              </label>
              <label class="btn btn-light btn-outline-secondary">
                <input type="checkbox" class="type" id="plots" asp-for="MyPropInfo.Type" value="Plots"> Plots
              </label>
              <label class="btn btn-light btn-outline-secondary">
                <input type="checkbox" class="type" id="commercial" asp-for="MyPropInfo.Type" value="Commercial"> Commercial
              </label>
            </div>
     </div>
     @*homes subcategories (added through ajax)*@
     <div id="sub-categories" class="row"></div>

     @*cities*@
     <div class="row justify-content-center p-1">
        <label for="city" class="col-2">
             City: <span style="color: red;">*</span>
        </label>
            <div class="col-5">
              <select class="form-select" required id="select-city" asp-for="MyPropInfo.City">
              <option disabled selected>Select City</option>
              <option value="Lahore">Lahore</option>
              <option value="Karachi">Karachi</option>
              <option value="Islamabad">Islamabad</option>
            </select>
            </div>
     </div>

     <div class="row justify-content-center p-1">
        <label for="area" class="col-2">
            Area: <span style="color: red;">*</span>
        </label>
            <div class=" col-5">
                <select id="citylocations" class="form-control" required name="area" asp-for="MyPropInfo.Area">
                    <option disabled selected>Select Area</option>
                    <option disabled >Select City first</option>
                </select>
            </div>
     </div>

     <div class="row justify-content-center p-1">
        <label for="address" class="col-2">
            Address: <span style="color: red;">*</span>
        </label>
            <div class="col-5">
            <input type="text" required placeholder="Property Address" class="form-control" asp-for="MyPropInfo.Address"/>
            </div>
     </div>

    @*portion 2*@

    <div class="add-property-legend">
        PROPERTY DETAILS
    </div>

    <div class="row justify-content-center p-1">
        <label class="col-2">
            Property Title: <span style="color: red;">*</span>
        </label>
        <div class=" col-5" required>
            <input type="text" required class="form-control" asp-for="MyPropInfo.Title"/>
        </div>
     </div>

     <div class="row justify-content-center p-1">
        <label for="description" class="col-2">
            Description: <span style="color: red;">*</span>
        </label>
            <div class=" col-5" required>
                <textarea class="form-control" id="description" rows="3" required asp-for="MyPropInfo.Description"></textarea>
            </div>
     </div>

     <div class="row justify-content-center p-1">
        <label for="type" class="col-2">
             Price (PKR): <span style="color: red;">*</span>
        </label>
            <div class="col-2">
              <input type="number" required class="form-control" min="0" asp-for="MyPropInfo.Price"/>
            </div>
            <div class=" col-3">
            <select class="form-select" aria-label="Default select example" required asp-for="MyPropInfo.PriceUnit">
              <option selected value="Lakh">Lakh</option>
              <option value="Crore">Crore</option>
              <option value="Thousand">Thousand</option>
              </select>
            </div>
     </div>

     <div class="row justify-content-center p-1">
        <label for="type" class="col-2">
            Land Area: <span style="color: red;">*</span>
        </label>
            <span class=" col-2">
                <input type="number" required class="form-control" min="0" asp-for="MyPropInfo.Size"/>
            </span>
        @*<label for="type" class="col-auto">
            Unit: 
        </label>*@
        <div class=" col-3">
            <select class="form-select" aria-label="Default select example" required asp-for="MyPropInfo.SizeUnit">
              <option selected value="Sqft">Square Feet</option>
              <option value="SqYd">Square Yard</option>
              <option value="SqM">Square Meters</option>
              <option value="Marla">Marla</option>
              <option value="Kanal">Kanal</option>
              <option value="Acre">Acre</option>
              </select>
            </div>
     </div>

     <div class="row justify-content-center p-1">
          <label for="type" class="col-2">
            Bedrooms: <span style="color: red;">*</span>
        </label>
        <div class=" col-5">
            <input type="number" required class="form-control" min="0" asp-for="MyPropInfo.Bedrooms"/>
            
            </div>
     </div>

     <div class="row justify-content-center p-1">
          <label for="type" class="col-2">
            Bathrooms: <span style="color: red;">*</span>
        </label>
        <div class=" col-5">
            <input type="number" required class="form-control" min="0" asp-for="MyPropInfo.Bathrooms"/>
            
            </div>
     </div>

@*--------- Add amenities ----------------*@

     @*<div class="row justify-content-center p-1">
        <label for="fearures" class="col-2">
            Features:
        </label>
            <div class=" col-5">
                <button class="btn btn-primary" style="background-color:blue;">Add Features</button>
            </div>
     </div>
    <div id="property-features">
        <table>
            <tr>
                <th colspan="2"><h3>Main Features</h3></th>
                <th colspan="2"><h3>Rooms</h3></th>
            </tr>
            <tr>
                <td>Built in Year</td>
                <td><input type="number" class="form-control" asp-for="MyPropInfo.MyPropAmenities.BuiltYear"/></td>
                <td>View</td>
                <td><input type="text" class="form-control" asp-for="MyPropInfo.MyPropAmenities.View"/></td>
            </tr>
        </table>
    </div>*@


    @*portion 3*@
    <div class="add-property-legend">
        ADD IMAGES
    </div>
    <div class="row justify-content-center p-3">
        <div class="col-5">
        <input class="form-control" type="file" multiple required asp-for="PropertyImages">
        </div>
    </div>

    @*submit button*@
    <div class="form-group row justify-content-center p-3">
                <button type="button" class="btn btn-secondary col-3 fw-bold" onclick="submitProperty()">SUBMIT PROPERTY</button>
            </div>
    
</form>

</div>
</div>








