@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View All Properties";
}

@model List<ApnaGharV2.Models.Property>

@section NavBar2{
    <partial name="NavBar2" />
}


<div class="container" id="container-addproperty"> 
    @foreach(ApnaGharV2.Models.Property property in Model)
            {
                <partial name="MakeProductCards" model="property" />
            }
   </div>