@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdmin";
}

@*---------------------add property page starts----------------------- *@
@model ApnaGharV2.Models.ViewModels.AddPropertyViewModel

<div id="after-header-div" class="text-white text-center" style="background-color: var(--site-color); height:150px;">
    <h4 class="pt-3">Properties</h4>
    <p class="">Welcome to ApnaGhar</p>
</div>

<div class="container bg-white p-4 shadow-lg border rounded" style="margin-top:-50px; width:90%;">

<form enctype="multipart/form-data" id="addPropertyForm" asp-controller="Admin" asp-action="AddProperty">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <h2 class="fw-bold ms-2">Add a Property</h2>
    <span style="color: red;" class="ms-2">*</span>
    <span> = Required Fields</span>

    @*portion 1*@
        <div class="text-white fw-bold p-2 m-2" style="background-color: #3b5998; border-radius: 5px;">
            PROPERTY TYPE AND LOCATION
        </div>

    <div class="row justify-content-center p-1">
        <label class="col-2" asp-for="Prop.Purpose">
            Purpose: <span style="color: red;">*</span>
        </label>
        <div class="col-6 btn-group ">
            @foreach (var purpose in Model.Purposes)
        {
            <label class="btn btn-light btn-outline-secondary">
                <input type="radio" value="@purpose" name="purpose" asp-for="Purpose" id="@(purpose)" required> @purpose
              </label>
        }
        </div>
     </div>
     <div class="row justify-content-center">
        <span asp-validation-for="Prop.Purpose" class="col-3 text-danger"></span>
     </div>


     <div class="row justify-content-center p-1">
        <label asp-for="Prop.Type" class="col-2">
            Property Type: <span style="color: red;">*</span>
        </label>
            <div class=" col-6 btn-group ">
                @foreach (var type in Model.Types)
        {
            <label class="btn btn-light btn-outline-secondary">
                <input type="radio" value="@type" name="type" asp-for="Type" id="@(type)" required> @type
              </label>
        }
             @* <label class="btn btn-light btn-outline-secondary">
                <input type="radio" name="type" asp-for="Prop.Type" value="Homes" class="type" id="homes" required> Homes
              </label>
              <label class="btn btn-light btn-outline-secondary">
                <input type="radio" name="type" asp-for="Prop.Type" value="Plots" class="type" id="plots" required> Plots
              </label>
              <label class="btn btn-light btn-outline-secondary">
                <input type="radio" name="type" asp-for="Prop.Type" value="Commercial" class="type" id="commercial" required> Commercial
              </label>*@
            </div>
     </div>
      <div class="row justify-content-center">
        <span asp-validation-for="Prop.Type" class="col-3 text-danger"></span>
     </div>

    
     @*cities*@
     <div class="row justify-content-center p-1">
        <label asp-for="Prop.City" class="col-2">
             City: <span style="color: red;">*</span>
        </label>
            <div class="col-6">
              <select class="form-select" id="select-city" asp-for="Prop.City" required>
              <option value="Lahore" selected>Lahore</option>
              <option value="Karachi">Karachi</option>
              <option value="Islamabad">Islamabad</option>
            </select>
            </div>
     </div>
     <div class="row justify-content-center">
        <span asp-validation-for="Prop.City" class="col-3 text-danger"></span>
     </div>

     <div class="row justify-content-center p-1">
        <label asp-for="Prop.Area" class="col-2">
            Area: <span style="color: red;">*</span>
        </label>
            <div class="col-6">
                <select id="citylocations" class="form-control" asp-for="Prop.Area" required>
                    <option selected value="Allama Iqbal Town">Allama Iqbal Town</option>
                    <option value="Bahria Town">Bahria Town</option>
                    <option value="DHA">DHA</option>
                    <option value="DHA Phase 1">DHA Phase 1</option>
                    <option value="DHA Phase 2">DHA Phase 2</option>
                    <option value="DHA Phase 3">DHA Phase 3</option>
                    <option value="DHA Phase 4">DHA Phase 4</option>
                    <option value="DHA Phase 5">DHA Phase 5</option>
                    <option value="DHA Phase 6">DHA Phase 6</option>
                    <option value="DHA Phase 7">DHA Phase 7</option>
                    <option value="DHA Phase 8">DHA Phase 8</option>
                    <option value="Faisal Town">Faisal Town</option>
                    <option value="Garden Town">Garden Town</option>
                    <option value="Gulberg">Gulberg</option>
                    <option value="Johar Town">Johar Town</option>
                    <option value="Lahore Cantt">Lahore Cantt</option>
                    <option value="Model Town">Model Town</option>
                    <option value="Shahdara Town">Shahdara Town</option>
                    <option value="Wapda Town">Wapda Town</option>
                    <option value="other">Other</option>
                </select>
            </div>
     </div>
      <div class="row justify-content-center">
        <span asp-validation-for="Prop.Area" class="col-3 text-danger"></span>
     </div>

     <div class="row justify-content-center p-1">
        <label asp-for="Prop.Address" class="col-2">
             Address: <span style="color: red;">*</span>
        </label>
            <div class="col-6">
            <input placeholder="Property Address" class="form-control" asp-for="Prop.Address" required/>
            </div>
     </div>
      <div class="row justify-content-center">
        <span asp-validation-for="Prop.Address" class="col-3 text-danger"></span>
     </div>


    @*portion 2-----------------------------------------*@

   <div class="text-white fw-bold p-2 m-2" style="background-color: #3b5998; border-radius: 5px;">
        PROPERTY DETAILS
    </div>

    <div class="row justify-content-center p-1">
        <label asp-for="Prop.Title" class="col-2">
            Property Title: <span style="color: red;">*</span>
        </label>
        <div class=" col-6" >
            <input type="text"  class="form-control" asp-for="Prop.Title" required maxlength="100"/>
        </div>
     </div>
     <div class="row justify-content-center">
        <span asp-validation-for="Prop.Title" class="col-3 text-danger"></span>
     </div>


     <div class="row justify-content-center p-1">
        <label asp-for="Prop.Description" class="col-2">
            Description: <span style="color: red;">*</span>
        </label>
            <div class="col-6" required>
                <textarea class="form-control" rows="7" required asp-for="Prop.Description"></textarea>
            </div>
     </div>
     <div class="row justify-content-center">
        <span asp-validation-for="Prop.Description" class="col-3 text-danger"></span>
     </div>


     <div class="row justify-content-center p-1">
        <label asp-for="Prop.Price" class="col-2">
             Price (PKR): <span style="color: red;">*</span>
        </label>
            <div class="col-3">
              <input type="number" required class="form-control" min="1" asp-for="Prop.Price"/>
            </div>
            <div class=" col-3">
            <select class="form-select" aria-label="Default select example" required asp-for="Prop.PriceUnit">
              <option selected value="Lakh">Lakh</option>
              <option value="Crore">Crore</option>
              <option value="Thousand">Thousand</option>
              </select>
            </div>
     </div>
      <div class="row justify-content-center">
        <span asp-validation-for="Prop.Price" class="col-3 text-danger"></span>
     </div>


     <div class="row justify-content-center p-1">
        <label asp-for="Prop.Size" class="col-2">
            Land Area: <span style="color: red;">*</span>
        </label>
            <span class=" col-3">
                <input type="number" required class="form-control" min="1" asp-for="Prop.Size"/>
            </span>
        <div class=" col-3">
            <select class="form-select" aria-label="Default select example" required asp-for="Prop.SizeUnit">
              <option selected value="Sqft">Square Feet</option>
              <option value="SqYd">Square Yard</option>
              <option value="SqM">Square Meters</option>
              <option value="Marla">Marla</option>
              <option value="Kanal">Kanal</option>
              <option value="Acre">Acre</option>
              </select>
            </div>
     </div>
     <div class="row justify-content-center">
        <span asp-validation-for="Prop.Size" class="col-3 text-danger"></span>
     </div>


     <div class="row justify-content-center p-1">
          <label asp-for="Prop.Bedrooms" class="col-2">
            Bedrooms: <span style="color: red;"></span>
        </label>
        <div class=" col-6">
            <input type="number" class="form-control" min="1" asp-for="Prop.Bedrooms"/>
            </div>
     </div>

     <div class="row justify-content-center p-1">
             <label asp-for="Prop.Bathrooms" class="col-2">
            Bathrooms: <span style="color: red;"></span>
            </label>
            <div class="col-6">
            <input type="number" class="form-control" min="1" asp-for="Prop.Bathrooms"/>
            </div>
     </div>


    @*portion 3*@
   <div class="text-white fw-bold p-2 m-2" style="background-color: #3b5998; border-radius: 5px;">
        ADD IMAGES
    </div>
    <div class="form-group row justify-content-center p-3">
        <div class="col-6">
        <input class="form-control" type="file" multiple required asp-for="PropertyImages" id="pimgs">
        </div>
    </div>
    <div class="row justify-content-center">
        <span asp-validation-for="Prop.PropertyImages" class="col-3 text-danger"></span>
     </div>

    @*submit button*@
    <div class="row justify-content-center p-3">
                <button type="submit" class="btn btn-secondary col-3 fw-bold">SUBMIT PROPERTY</button>
            </div>
    
</form>

</div>









