@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <div class="row">
      <div class="col-2">
          <partial name="_AdminNavBarSide" />
          </div>
     <div class="col">
          <partial name="_AdminNavBarUpper" />
          </div>

          <!-- body  ---------------------->
        <div class="container-fluid">

          <!-- row 1 ----------------->
          <div class="row">

            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Properties &nbsp;&nbsp; 62</h5>
                  <span class="badge rounded-pill bg-primary">Sold 22</span>
                  <span class="badge rounded-pill bg-primary">New 40</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Properties &nbsp;&nbsp; 62</h5>
                  <span class="badge rounded-pill bg-primary">Sold 22</span>
                  <span class="badge rounded-pill bg-primary">New 40</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Properties &nbsp;&nbsp; 62</h5>
                  <span class="badge rounded-pill bg-primary">Sold 22</span>
                  <span class="badge rounded-pill bg-primary">New 40</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Properties &nbsp;&nbsp; 62</h5>
                  <span class="badge rounded-pill bg-primary">Sold 22</span>
                  <span class="badge rounded-pill bg-primary">New 40</span>
                </div>
              </div>
            </div>

          </div>
          <!-- row 2 ----------------->
          <div class="row">

            <div class="col-xl-4 col-lg-5 col-md-12">
              <div class="card">
                <h5 class="card-title">Total Properties</h5>
                <div class="card-body text-center">
                  <div id="pdd-chart-div">
                    <canvas id="pdd-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-8 col-lg-7 col-md-12">
              <div class="card">
                <div class="header">
                  <h2>Graph this year</h2>
                </div>
                <div class="body">
                  <div id="chart-bar-rotated"></div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

